<!DOCTYPE html>
<html>
<head>
  <title><%= t 'votingsystem' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main">
<header>
  <%= render 'shared/header' %>
</header>

<%= yield %>

<footer>

</footer>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</html>
